API_KEY=kErRRCt6k8nbWRa2PybnrSrE6ZROVdpm
OFFICE=664dd433c0d6bcff42c8b6b9
BACKLINK=https://office-backend.amptechnology.in/api
BACKPUBLIC=https://office-backend.amptechnology.in
NEXT_PUBLIC_BACKLINK=https://office-backend.amptechnology.in/api
NEXT_PUBLIC_BACKPUBLIC=https://office-backend.amptechnology.in